<div class="container padded">

  <div class="row">
    <% @flats.each do |flat|  %>

      <div class="col-xs-12 col-sm-6 col-md-4">
            <%= link_to flat_path(flat) do %>
              <div class="card" style="background-image: url('<%= image_path("#{flat.city}.jpg") %>')">
              <p><%= flat.city%></p>
              </div>
            <% end %>
      </div>

    <% end %>
  </div>

  <% if user_signed_in? %>
  <div class="col-md-12 col-md-offset-10 mb">
      <%= link_to "Add a flat", new_flat_path, method:"GET",class:"btn btn-primary"%>
  </div>
  <% end %>

</div>
