<div class="container padded">

<h1>Post your housing</h1>
<p>This will take you less than 2min:</p>
  <div class="row col-xs-12 col sm-8 offset-2">

    <%= render partial: "form", locals:{flat: @flat} %>

  </div>
</div>
