    <nav class="navbar navbar-default navbar-static-top">

        <div class="navbar-header">
              <a class="navbar-left" href="#">
                <%= link_to image_tag("logo.svg"), root_path %>
              </a>
        </div>


        <div class="navbar-right navbar-margin">
          <ul class="list-inline">
            <li><%= link_to "flats", flats_path %></li>

            <li>help</li>

            <li><%= link_to "account", root_path %></li>
          </ul>
        </div>
    </nav>
