<nav class="navbar navbar-default navbar-bottom footer">
  <div class="container">
        <div class="text-center footer-margin-top">
          CalanquesBnB &copy;
        <ul class="list-inline">
          <li>
          <%= link_to "https://twitter.com/cp2535" do %>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <% end %>
          </li>
          <li>
          <%= link_to "https://fr.linkedin.com/in/clément-pinon-18b35024" do %>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          <% end %>
          </li>
          <li>
          <%= link_to "https://www.facebook.com/clement.pn" do %>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <% end %>
          </li>
        </ul>
        </div>
  </div>
</nav>
