<%= link_to flats_path do %>
  <div class="banner" style="background-image: url(<%= image_path 'tokyo.jpg'%>)">
    <div class="banner-content">
      <h3>Very nice places to go</h1>
      <!-- <p>Very nice places to go</p> -->
      <!-- <a class="btn btn-primary btn-lg">BOOK IT</a> -->
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row text-align">

    <div class="col-md-12 text-center mt">
          <p>Welcome on code & calanques</p>
          <p>Please see below the list of our flats</p>
          <ul>
                 <%= link_to "All the appartments", flats_path %>
          </ul>
    </div>
  </div>
</div>
