.card{
  $size:300px;
  height: $size;
  width: $size;
  //border-radius:500%;
  border-radius:5px;
  // background-color: beige;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px auto 15px auto ;
  text-align:center;
  line-height:$size;
  color:white;
  text-decoration: none;
  position: relative;
}


.card a, .card p, .card p:hover{
  color:white;
  text-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
  text-decoration: none;
}


.card-link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.card-wish{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.card-wish:hover{
  color: rgba(0, 0, 0, 0.10);
}

.card-wished{
  color: red;
}
