.card{
  $size:300px;
  height: $size;
  width: $size;
  //border-radius:500%;
  border-radius:5px;
  // background-color: beige;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px auto 15px auto ;
  text-align:center;
  line-height:$size;
  color:white;
  text-decoration: none;
}


.card a, .card p, .card p:hover{
  color:white;
  text-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
  text-decoration: none;
}
